*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
}

.box{
    display: block;
    background: steelblue;
    width: 55px;
    height: 55px;
    margin: 10px 0;
    margin-left: 5px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
}
.container{
    margin-left: -5px;
    padding: 10px 0;
    border: 3px solid lightcoral;
}

/* por su tipo */

/* .box:only-of-type{
    background: tomato;

} */
/* 
.box:first-of-type{
    background: tomato;
} */
/* .box:last-of-type{
    background: tomato;
} */

/* con la pseudoclase nth-of-type podemos colocar como parametros  (odd) impares (even) pares  y (n) selecciona a todos los elementos como acumulador y (2n) selecciona los numeros pares y patrones de seleccion */
/* .box:nth-of-type(2n+1){
    background: tomato;
} */

/* .box:nth-last-of-type(1){

    background: tomato;
} */

/* .box:only-child{
    background: tomato; 
} */

/* div:first-child{

    background: tomato;

} */

/* div:last-child{
    background: crimson;
} */

/* div:nth-child(4){
    background: crimson;
} */

/* .container :nth-child(3){
    background: crimson;
} */

.container :nth-last-child(1){
    background: crimson;
}
   